.fontColor {
    color: #000000;
  }
  
  body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 0.5cm;
    background-color:rgb(134, 132, 243);
    
  }

  header {
font-size: 50px;
font-family: fantasy, Helvetica, sans-serif;
width: 99%;
    border: solid rgb(15, 230, 51);
    height: 20%;
margin-top: auto;
margin-left: auto;
margin-right: auto;
margin-bottom: auto;

  }


